---
import Page from "~layouts/page.astro";
import Directory from "./_directory.json";
---

<Page
   title="Miscellaneous pages"
   description="A directory of my website's miscellaneous pages."
   backlink="/"
   backtext="index"
>
   <p slot="intro" class="my-2">
      Here you'll find a directory of various pages that don't necessarily make
      sense to link directly on my index page.
   </p>

   <dl>
      {
         Directory.pages.map((page) => (
            <>
               <dt class="font-serif font-bolder not-first:mt-[1em]">
                  <a href={page.route} class="highlighted">
                     {page.title}
                  </a>
               </dt>
               <dd class="ml-[1em]">{page.blurb}</dd>
            </>
         ))
      }
   </dl>

   <p class="text-black/[.54] pt-2"><i>Additional pages to come...</i></p>
</Page>
