---
import BaseLayout from "~layouts/base.astro";
import LinkTree from "./_linktree.json";
import { SEO } from "astro-seo";
import Navigation from "~components/navigation";
---

<BaseLayout>
    <SEO
        slot="seo"
        title="Web presence"
        description="Outbound links to my presence on the web."
    />

    <header slot="header">
        <Navigation
            Links={[
                { href: "/", text: "Home" },
                {
                    href: "/web-presence",
                    text: "Web presence",
                },
            ]}
        />
    </header>

    <h1 class="font-medium">Web presence</h1>
    <p class="py-2">
        I can be found various places on the web — here are some of those
        places.
    </p>

    <div class="mt-6">
        {
            LinkTree.tree.map((category) => (
                <div class="mt-4">
                    <h2 class="font-medium mb-2">{category.category}</h2>
                    <table class="w-full table-fixed border-spacing-0 border-collapse text-left border border-table-outline">
                        <colgroup>
                            <col class="w-1/3" />
                            <col />
                        </colgroup>
                        <thead class="border-b">
                            <tr>
                                <th class="px-2.5 pt-1.5 font-medium">
                                    Platform
                                </th>
                                <th class="px-2.5 pt-1.5 font-medium">
                                    Handle
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {category.links.map((link) => (
                                <tr class="border-b border-table-outline">
                                    <td class="px-2.5 pt-1.5">
                                        {link.platform}
                                    </td>
                                    <td class="px-2.5 pt-1.5">
                                        <a
                                            href={link.url}
                                            rel={link.rel || undefined}
                                            class="hyperlink"
                                        >
                                            {link.username}
                                        </a>
                                    </td>
                                </tr>
                            ))}
                        </tbody>
                    </table>
                </div>
            ))
        }
    </div>
</BaseLayout>
