@import "tailwindcss";

@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/TX-02.otf") format("opentype");
    font-stretch: 60 100;
    font-weight: 100 900;
    font-style: oblique -16deg 0deg;
    font-feature-settings: "ss05" on;
}

@font-face {
    font-family: "Univers Next Variable";
    src: url("/fonts/UniversNextVariable.woff2") format(woff2);
    font-stretch: 75 150;
    font-weight: 300 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Univers Next Variable";
    src: url("/fonts/UniversNextVariable-Italic.woff2") format(woff2);
    font-stretch: 75 150;
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-berkeley: "Berkeley Mono", monospace;
    --font-univers: "Univers Next Variable", sans-serif;
}
