@import "tailwindcss";

@theme {
   --color-accent: #8abad3;

   --font-sans: "seven sans";
   --font-serif: "seven serif";
   --font-mono: "seven mono";

   --text-slightly-smaller: calc(1em - 1px);
   --font-bolder: bolder;
}

::selection {
   background: rgba(149, 138, 122, 0.54);
}
/* https://encycolorpedia.com/958a7a */
::-moz-selection {
   background: rgba(149, 138, 122, 0.54);
}

html {
   font-size: 100%;
}

body {
   overflow-wrap: break-word;
}
