@import "tailwindcss";

@font-face {
    font-family: "Berkeley Mono";
    src:
        url("/fonts/TX-02.woff2") format("woff2 supports variations"),
        url("/fonts/TX-02.woff2") format("woff2-variations");
    font-stretch: 60 100;
    font-weight: 100 900;
    font-style: oblique -16deg 0deg;
}

@theme {
    --font-berkeley: "Berkeley Mono", sans-serif;
}
