p {
   @apply my-[1em];
}

a:not(.incognito) {
   @apply underline underline-offset-1;
   @apply decoration-black/[.27] hover:decoration-raspberry;
}

/* wavy underline for webkit only */
_::-webkit-full-page-media,
_:future,
:root a:not(.incognito) {
   @apply decoration-wavy underline-offset-2;
}

@supports (font-variation-settings: normal) {
   i,
   em {
      @apply not-italic;
      font-variation-settings: "ital" 0.5;
   }
}

.image-wrapper {
   @apply flex justify-center;
   @apply my-[1.5em];
}

.image-wrapper img {
   @apply max-h-[605px] max-w-full;
   @apply object-contain;
   @apply bg-black/[.027];
}

blockquote {
   @apply border-l border-black;
   @apply ml-4 pl-4;
   font-variation-settings: "ital" 0.5;
   @apply text-slightly-smaller;
}

.rich-link {
   @apply not-italic;
   font-variation-settings: "ital" 0;
   @apply my-[1em] ml-0 p-2;
   @apply border border-black/[.54];
   @apply flex flex-col gap-1;

   p {
      @apply m-0;
      font-variation-settings: "ital" 0.5;
   }

   footer {
      @apply flex flex-col items-center;
   }

   footer > * {
      @apply block w-full;
   }

   footer > span {
      @apply font-[354];
   }

   cite {
      @apply not-italic text-black/[.72];
      overflow-wrap: break-word;
   }
}

@supports (font-variation-settings: normal) {
   blockquote i,
   blockquote em {
      font-variation-settings: "ital" 1;
   }
}

.astro-code {
   @apply grayscale hover:grayscale-0 transition-all duration-[189ms];
   @apply border border-black/[.54];
   @apply my-[1em] p-2;
}

#back-link > a {
   @apply no-underline hover:underline;
}
