---
import type { Microblog } from "~libs/microblog";
import { formatTimeRelatively } from "~libs/relative-time";

interface Props {
   post: Microblog;
   inFeed?: boolean;
}

const { post, inFeed } = Astro.props;
---

<article>
   <header class="font-serif italic text-xs text-black/[.72] flex items-center gap-2">
      <span>Posted <time>{formatTimeRelatively(post.date_published, true)}</time></span>
   </header>
   <Fragment set:html={post.content_html} />
</article>
