---
import Layout from "../layouts/base.astro";
import IHeader from "~components/iheader.astro";
---

<style>
   p {
      @apply my-[1em];
   }

   a:not(.incognito) {
      @apply underline decoration-wavy underline-offset-2;
      @apply decoration-black/30 hover:decoration-raspberry;
   }
</style>

<Layout>
   <IHeader
      slot="hnav"
      title="inthetrees"
      links={[
         { href: "/microblog", text: "microblog" },
         { href: "/blog", text: "blog" },
         { href: "/pages", text: "pages" },
      ]}
   />
   <p>
      Hi there, welcome to my website.<br />My name is Jade&nbsp;<span
         class="text-black/30 text-xs">(he/him)</span
      >, and, if you wish, please, <a
         class="incognito"
         href="https://en.wikipedia.org/wiki/Seven_(Taylor_Swift_song)"
         target="_blank">picture me in the trees</a
      >.
   </p>
   <p>
      <a
         class="incognito"
         href="https://en.wikipedia.org/wiki/Long_Story_Short_(Taylor_Swift_song)"
         target="_blank">long story short</a
      >, I'm a human and a netizen. I'm also a web developer, primarily in the
      front-end space. My time is dedicated to learning, coding, writing, and
      biking — amongst other things.
   </p>
   <p>
      I invite you to visit my <a href="/blog">blog</a> and <a href="/microblog"
         >microblog</a
      > pages; my blog is where I publish longer-form writing, and my microblog is
      my place to share quick updates and musings.
   </p>

   <p>
      If you'd like to conact me for any reason, my preferred contact methods
      are via <a href="mailto:jade@inthetrees.me" target="_blank">email</a>, <a
         href="https://signal.me/#eu/U23Og9rvFD3KcSEVVoiiJCS6MmxRamzQWyVaaleTYCPzH272GeJMo5eQ-gstLIK2"
         target="_blank">Signal</a
      >, or <a href="https://matrix.to/#/@inthetrees:matrix.org" target="_blank"
         >Matrix</a
      >. I'm happy to receive any and all inquiries.
   </p>
   <p>
      Oh, and if you picked up on the references in this copy, let's be friends
      :)
   </p>
</Layout>
