---
import "~styles/text.css";

interface Props {
   title:
      | string
      | {
           text: string;
           italic?: boolean;
           element?: string;
        };
   links: {
      href: string;
      text: string;
   }[];
}

const { title, links } = Astro.props;

const TitleElement = (typeof title !== "string" && title.element) || "h1";
---

<header slot="hnav" class="flex items-center gap-3 text-xs mb-7">
   <TitleElement
      class:list={[
         "font-serif text-xl font-[327]",
         { italic: typeof title !== "string" && title.italic },
      ]}
   >
      {typeof title === "string" ? title : title.text}
   </TitleElement>
   <hr class="border-black/[.027] w-full" />
   <nav class="text-black/50">
      <ul class="flex gap-2">
         {
            links.map((link) => (
               <li>
                  <a href={link.href}>{link.text}</a>
               </li>
            ))
         }
      </ul>
   </nav>
</header>
