---
export const prerender = false;

import Layout from "~layouts/base.astro";
import IHeader from "~components/iheader.astro";
import "~styles/text.css";

import type { Microblog } from "~libs/microblog";
import { getPosts } from "~libs/microblog";
import MicroblogPost from "~components/microblog/post.astro";

let posts: Microblog[] = [];
let error: Error | null = null;
try {
   posts = await getPosts(
      `https://${import.meta.env.MICROBLOG_BASE_URL}/api/recent.json`
   );
} catch (e) {
   error = e as Error;
   console.error(error);
}
---

<Layout>
   <IHeader
      slot="hnav"
      title="Microblog"
      links={[
         { href: "/", text: "index" },
         { href: "/blog", text: "blog" },
         { href: "/pages", text: "pages" },
      ]}
   />
   {
      error ?
         <p class="text-black/50">
            oops &gt;.&lt;
            <br />
            It looks like Micro.blog may be currently unavailable;{" "}
            <a href="https://status.micro.blog" target="_blank">
               check status
            </a>
            .
         </p>
      :  posts.map((post, index) => (
            <>
               <MicroblogPost post={post} />
               {index < posts.length - 1 && (
                  <hr class="border-black/[.054] w-full mt-7 mb-4" />
               )}
            </>
         ))
   }
</Layout>
