---
export const prerender = false;

import { SEO } from "astro-seo";
import Layout from "~layouts/base.astro";
import BackLink from "~components/back-link";
import "~styles/text.css";

import type { Microblog } from "~libs/microblog";
import { getPosts } from "~libs/microblog";
import Feed from "~components/microblog/feed.astro";

let posts: Microblog[] = [];
let error: Error | undefined = undefined;
try {
   posts = await getPosts(
      `https://${import.meta.env.MICROBLOG_BASE_URL}/api/recent.json`,
   );
} catch (e) {
   error = e as Error;
   console.error(error);
}

// only posts within the last day
const now = new Date();
const cutoff = 24;
posts = posts.filter((post) => {
   const dateToCompare =
      post.date_modified ?
         new Date(post.date_modified)
      :  new Date(post.date_published);
   const timeDiff = now.getTime() - dateToCompare.getTime();
   const hoursDiff = timeDiff / (1000 * 3600);
   return hoursDiff <= cutoff;
});
---

<script src="../../libs/mb-alt-alert.ts"></script>

<Layout>
   <SEO
      slot="seo"
      title="My microblog"
      description="My place to share quick updates and musings in a tweet-like fashion."
   />

   <header slot="header" class="leading-none">
      <BackLink href="/" text="index" client:load />
   </header>
   <div class="flex flex-col gap-7">
      <div>
         <h1 class="font-serif text-xl font-[354]">My microblog</h1>
         <p class="my-2">
            Welcome to my microblog — my place to share quick updates and musings
            in a tweet-like fashion. Externally, my microblog is available as a <a
               href="https://microblog.vandor.sx/feed.json"
               target="_blank">JSON feed</a
            > and via <a
               href="https://micro.blog/jade?remote_follow=1"
               target="_blank">ActivityPub</a
            >. And additionally, older posts can be found in the <a
               href="/microblog/archive">archive</a
            >.
         </p>

         <p class="text-black/[.72] my-2">
            <i>
               My microblog is proudly powered by <a href="https://micro.blog"
                  >Micro.blog</a
               >.
            </i>
         </p>
      </div>
      <Feed {posts} {error} />
   </div>
</Layout>
