---
export const prerender = false;

import Layout from "~layouts/base.astro";
import Back from "~components/back.astro";
import "~styles/text.css";

import type { Microblog } from "~libs/microblog";
import { getPosts } from "~libs/microblog";
import MicroblogPost from "~components/microblog/post.astro";

let posts: Microblog[] = [];
let error: Error | null = null;
try {
   posts = await getPosts(
      `https://${import.meta.env.MICROBLOG_BASE_URL}/api/recent.json`
   );
} catch (e) {
   error = e as Error;
   console.error(error);
}
---

<Layout>
   <header slot="header" class="leading-none">
      <Back href="/" text="index" />
   </header>
   <div class="flex flex-col gap-7">
      <div>
         <h1 class="font-serif text-xl font-[354]">Microblog</h1>
         <p class="my-2">
            Welcome to my microblog — my place to share quick updates and musings
            in a tweet-like fashion. By default, only posts within the last day
            are visible. My microblog is also available as a <a
               href="https://jade.micro.blog/feed.json"
               target="_blank">JSON feed</a
            > and via <a
               href="https://micro.blog/jade?remote_follow=1"
               target="_blank">ActivityPub</a
            >.
         </p>
      </div>
      <div>
         {
            error ?
               <p class="text-black/50">
                  oops &gt;.&lt;
                  <br />
                  It looks like Micro.blog may be currently unavailable;{" "}
                  <a href="https://status.micro.blog" target="_blank">
                     check status
                  </a>
                  .
               </p>
            :  posts.map((post, index) => (
                  <>
                     <MicroblogPost post={post} inFeed />
                     {index < posts.length - 1 && (
                        <hr class="border-black/[.027] w-full mt-7 mb-5" />
                     )}
                  </>
               ))
         }
      </div>
   </div>
</Layout>
