---
import "~styles/globals.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Jade van Dörsten</title>
        <meta
            name="description"
            content="My personal website. long story short, I'm a human and a netizen."
        />
        <meta name="keywords" content="vandorsx, Jade van Dörsten" />

        <link
            rel="preload"
            href="/fonts/TX-02.otf"
            as="font"
            type="font/otf"
            crossorigin
        />
    </head>
    <body class="font-berkeley flex justify-center">
        <div class="mt-20 max-w-2xl w-full">
            <slot />
        </div>
    </body>
</html>
