---
import { SEO } from "astro-seo";
import "~styles/fonts.css";
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta name="theme-color" content="#ffffff" />

      <link
         rel="preload"
         href="/fonts/sans-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />
      <link
         rel="preload"
         href="/fonts/serif-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />

      <slot name="seo">
         <SEO
            title="inthetrees"
            description="My personal website."
            twitter={{
               creator: "@inthetrees_7",
            }}
         />
      </slot>

      <style>
         html {
            font-size: 100%;
         }

         *::selection {
            background: #fdcbe2;
         }

         *::-moz-selection {
            background: #fdcbe2;
         }
      </style>
   </head>
   <body
      class="flex justify-center mt-[3.5rem] md:mt-[5.25rem] lg:mt-[7rem] text-sm font-light mx-7 leading-[1.4rem]"
   >
      <div class="w-full max-w-[72ch]">
         <slot name="hnav" />
         <main>
            <slot />
         </main>
      </div>
   </body>
</html>
