---
import { ViewTransitions, fade } from "astro:transitions";
import { SEO } from "astro-seo";
import "~styles/fonts.css";
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta name="theme-color" content="#ffffff" />

      <link
         rel="preload"
         href="/fonts/sans-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />
      <link
         rel="preload"
         href="/fonts/serif-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />
      <link
         rel="preload"
         href="/fonts/serif-iv.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />

      <slot name="seo">
         <SEO
            title="inthetrees"
            description="My personal website."
            twitter={{
               creator: "@inthetrees_7",
            }}
         />
      </slot>

      <ViewTransitions />

      <script>
         function trackPath() {
            const path = window.location.pathname;
            const sessionPath = sessionStorage.getItem("current-path");
            if (sessionPath && sessionPath !== path) {
               sessionStorage.setItem("previous-path", sessionPath);
            }
            sessionStorage.setItem("current-path", path);
         }

         window.addEventListener("pageshow", () => {
            trackPath();
         });
      </script>

      <style>
         html {
            font-size: 100%;
         }

         body {
            @apply mx-7 flex justify-center;
            @apply text-sm font-light leading-[1.4rem];
         }

         body > div:first-child {
            @apply mt-[2.625rem] md:mt-[3.9375rem] lg:mt-[5.25rem];
            @apply mb-[1.75rem] md:mb-[2.625rem] lg:mb-[3.5rem];
         }

         *::selection {
            background: #fdcbe2;
         }

         *::-moz-selection {
            background: #fdcbe2;
         }
      </style>
   </head>
   <body transition:animate={fade({ duration: "0.27s" })}>
      <div class="w-full max-w-[72ch] flex flex-col gap-3">
         <slot name="header" />
         <main>
            <slot />
         </main>
         <slot name="footer" />
      </div>
   </body>
</html>
