---
import "~styles/fonts.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <title>{title}</title>
      <meta name="description" content={description} />

      <style>
         html {
            font-size: 100%;
         }

         *::selection {
            background: #fdcbe2;
         }

         *::-moz-selection {
            background: #fdcbe2;
         }
      </style>
   </head>
   <body class="flex justify-center mt-[3.5rem] md:mt-[5.25rem] lg:mt-[7rem] text-sm font-light mx-7">
      <main class="w-full max-w-[72ch]">
         <slot />
      </main>
   </body>
</html>
