---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import "~styles/fonts.css";
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta name="theme-color" content="#ffffff" />

      <link
         rel="preload"
         href="/fonts/sans-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />
      <link
         rel="preload"
         href="/fonts/serif-v.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />
      <link
         rel="preload"
         href="/fonts/serif-iv.woff2"
         as="font"
         type="font/woff2"
         crossorigin
      />

      <link rel="icon" type="image/png" href="/favicon.png" sizes="313x313" />
      <link
         rel="apple-touch-icon"
         type="image/png"
         href="/apple-icon.png"
         sizes="313x313"
      />

      <link rel="manifest" href="/manifest.json" />

      <link
         rel="alternate"
         type="application/rss+xml"
         title="Blog"
         href="https://jade.van-dorsten.net/blog/feed.xml"
      />
      <link
         rel="alternate"
         type="application/feed+json"
         title="Microblog"
         href="https://jade.micro.blog/feed.json"
      />

      <slot name="seo">
         <SEO
            title="Jade van Dörsten"
            description="My personal website. long story short, I'm a human and a netizen."
            twitter={{
               creator: "@vandorsx",
               site: "@vandorsx",
            }}
         />
      </slot>

      <ViewTransitions />

      <script src="../libs/path-tracker.ts"></script>

      <style>
         html {
            font-size: 100%;
         }

         body {
            @apply mx-7 flex justify-center;
            @apply text-sm font-light leading-[1.4rem];
         }

         body > div:first-child {
            @apply mt-[2.625rem] md:mt-[3.9375rem] lg:mt-[5.25rem];
            @apply mb-[1.75rem] md:mb-[2.625rem] lg:mb-[3.5rem];
         }

         *::selection {
            background: #fdcbe2;
         }

         *::-moz-selection {
            background: #fdcbe2;
         }
      </style>
   </head>
   <body>
      <div class="w-full max-w-[72ch] flex flex-col gap-3">
         <slot name="header" />
         <main>
            <slot />
         </main>
         <slot name="footer" />
      </div>

      <script
         defer
         src="https://static.cloudflareinsights.com/beacon.min.js"
         data-cf-beacon='{"token": "baee1157e87b4ed1852544e5b7fda9f3"}'
      ></script>
   </body>
</html>
