---
import { SEO } from "astro-seo";
import "~styles/globals.css";
---

<!doctype html>
<html lang="en" class="text-[100%]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <slot name="seo">
            <SEO
                title="Jade van Dörsten"
                description="My personal website. long story short, I'm a human and a netizen."
            />

            <meta name="keywords" content="vandorsx, Jade van Dörsten" />
        </slot>

        <link
            rel="preload"
            href="/fonts/UniversNextVariable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="alternate"
            type="application/rss+xml"
            title="Blog"
            href="https://vandor.sx/blog/feed.xml"
        />
        <link
            rel="alternate"
            type="application/feed+json"
            title="Microblog"
            href="https://vandor.sx/microblog/feed.json"
        />
    </head>
    <body
        class="font-univers font-stretch-95% flex flex-col text-base px-1.5 py-3 mb-7 md:px-5.5 md:py-3.5"
    >
        <slot class="w-full" name="header" />
        <main class="w-full max-w-3xl px-1.5"><slot /></main>
        <slot name="footer" />
    </body>
</html>
