---
import "~styles/globals.css";
---

<!doctype html>
<html lang="en" class="text-[100%]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Jade van Dörsten</title>
        <meta
            name="description"
            content="My personal website. long story short, I'm a human and a netizen."
        />
        <meta name="keywords" content="vandorsx, Jade van Dörsten" />

        <link
            rel="preload"
            href="/fonts/TX-02.otf"
            as="font"
            type="font/otf"
            crossorigin
        />
    </head>
    <body class="font-univers font-[375] flex flex-col text-[15px] py-4">
        <slot class="w-full" name="header" />
        <main class="w-full max-w-3xl px-7"><slot /></main>
        <slot name="footer" />
    </body>
</html>
